@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
    flex: 1 1 auto;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}
.login-form-container > * {
    width: 100%;
}

.error {
    color: crimson;
}
.error-msg {
    display: block;
    position: absolute;
    font-size: 75%;
    bottom: -2em;
}

.hint-msg {
    color: teal; /* crimson brown indianred burlywood indigo blueviolet teal */
    font-size: 52%;
}

/*  tutorial */
.div.container {
    margin: 0px 40px;
}
form.normal-form {
    margin: 10px;
}
.controls-container {
    width: 100%;
    padding: 5%;
}
.controls-container > * {
    width: 100%;
}
.add-bottom-padding {
    padding-bottom: 10px;
}
mat-radio-group mat-radio-button {
    margin-left: 10px;
}
.button-row button {
    margin: 5px;
}