<mat-card>
  <mat-card-title align='center'>Edit User</mat-card-title>
  <mat-card-content align='center'>
    <form [formGroup]='editForm' class='login-form-container'>

      <mat-form-field [ngClass]="{'error': editForm.controls['email'].errors && editForm.controls['email'].dirty}">
        <input matInput type='text' formControlName='email' placeholder='E-Mail' required>
        <div *ngIf="editForm.controls['email'].invalid && (editForm.controls['email'].dirty || editForm.controls['email'].touched)" class='error-msg'>
          <div *ngIf="editForm.controls['email'].errors.required">Username is required.</div>
          <div *ngIf="editForm.controls['email'].errors.minlength">Username must be at least 2 characters long.</div>
          <div *ngIf="editForm.controls['email'].errors.patternInvalid">Username must be a valid E-Mail address.</div>
        </div>
      </mat-form-field>

      <mat-form-field [ngClass]="{'error': editForm.controls['firstName'].errors && editForm.controls['firstName'].dirty}">
          <input matInput type='text' formControlName='firstName' placeholder='First Name' required>
          <div *ngIf="editForm.controls['firstName'].invalid && (editForm.controls['firstName'].dirty || editForm.controls['firstName'].touched)" class='error-msg'>
            <div *ngIf="editForm.controls['firstName'].errors.required">First Name is required.</div>
            <div *ngIf="editForm.controls['firstName'].errors.minlength">First Name must be at least 2 characters long.</div>
          </div>
        </mat-form-field>
        <mat-form-field [ngClass]="{'error': editForm.controls['lastName'].errors && editForm.controls['lastName'].dirty}">
          <input matInput type='text' formControlName='lastName' placeholder='Last Name' required>
          <div *ngIf="editForm.controls['lastName'].invalid && (editForm.controls['lastName'].dirty || editForm.controls['lastName'].touched)" class='error-msg'>
            <div *ngIf="editForm.controls['lastName'].errors.required">Last Name is required.</div>
            <div *ngIf="editForm.controls['lastName'].errors.minlength">Last Name must be at least 2 characters long.</div>
          </div>
        </mat-form-field>

      <mat-form-field>
        <input matInput type='password' formControlName='password' placeholder='Password' required>
        <div *ngIf="editForm.controls['password'].invalid && (editForm.controls['password'].dirty || editForm.controls['password'].touched)" class='error-msg'>
          <div *ngIf="editForm.controls['password'].errors.required">Password is required.</div>
          <div *ngIf="editForm.controls['password'].errors.minlength">Password must be at least 5 characters long.</div>
          <div *ngIf="editForm.controls['password'].errors.maxlength">Password must be at most 10 characters long.</div>
        </div>
      </mat-form-field>      
    </form>
  </mat-card-content>
  <mat-card-actions align='right'>
      <button mat-raised-button color='accent' class='btn' [disabled]='editForm.invalid' (click)='onSubmit()'>Update User</button>
  </mat-card-actions>
</mat-card>