<mat-card>
  <mat-card-title align='center'>

    <mat-card *ngIf='errorMsg'>
        <mat-card-content align='center'>
            <div *ngIf='errorMsg' [ngClass]="{'error': errorMsg}">{{errorMsg}}</div>
        </mat-card-content>
    </mat-card>

    Login
    <mat-divider></mat-divider>
    <div class='hint-msg'>Hint : userone@gmail.com - password</div>
  </mat-card-title>
  <mat-card-content align='center'>
    <form [formGroup]='loginForm' class='login-form-container'>
      <mat-form-field>
        <input matInput type='text' formControlName='email' placeholder='E-Mail' required>
        <mat-error *ngIf="loginForm.controls['email'].errors?.required">Email is required</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.minlength">Email must be at least 2 characters long</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.email">Email must be a valid E-Mail address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type='password' formControlName='password' placeholder='Password' required>
        <mat-error *ngIf="loginForm.controls['password'].errors?.required">Password is required</mat-error>
        <mat-error *ngIf="loginForm.controls['password'].errors?.minlength">Password must be at least 5 characters long</mat-error>
        <mat-error *ngIf="loginForm.controls['password'].errors?.maxlength">Password must be at most 20 characters long</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align='right'>
      <button mat-raised-button color='primary' class='btn' [disabled]='loginForm.invalid' (click)='login()'>Login</button>
      <a mat-raised-button routerLink='/register' color='warn'>Register</a>
  </mat-card-actions>
</mat-card>

<!--p>Form Value: {{loginForm.value | json }}</p>
<p>Form status: {{loginForm.status | json }}</p>
<p>Name value: {{loginForm.get('email').value }}</p>

<p>Username errors : {{loginForm.controls['email'].errors && loginForm.controls['email'].dirty}}</p>
<p>Username is valid : {{loginForm.controls['email'].valid}}</p>

<p>Pwd show errors : {{loginForm.controls['password'].errors && loginForm.controls['password'].dirty}}</p>
<p>Pwd valid : {{loginForm.controls['password'].valid}}</p-->


  <!-- https://www.youtube.com/watch?v=ZGWOc37kQkw -->