<mat-toolbar style='height:20px;'>
  <span class='spacer'></span>
  <div *ngIf='authSvc.loggedInUser' class='hint-msg'>Your are logged in as:  {{authSvc.loggedInUser.lastName}}, {{authSvc.loggedInUser.firstName}}</div>
  <div *ngIf='!authSvc.loggedInUser' class='hint-msg'>You are NOT logged in!</div>
  <span class='spacer'></span>
  <div class='hint-msg' *ngIf='authSvc.loggedInUser'><a routerLink='/login'>Logout</a></div>
  <div class='hint-msg' *ngIf='!authSvc.loggedInUser'><a routerLink='/login'>Login</a></div>
</mat-toolbar>

<mat-toolbar color='primary' style='height:40px;'>
  <button mat-icon-button routerLink='/list-user'>
    <mat-icon>home</mat-icon>
  </button>  
  <span class='spacer'></span>
  <span>Angular User CRUD</span>
  <span class='spacer'></span>
  <button mat-icon-button [matMenuTriggerFor]='menu'>
    <mat-icon><i class='material-icons'>view_headline</i></mat-icon>
  </button>

  <mat-menu #menu='matMenu'>
    <button mat-menu-item routerLink='/login'>
      <mat-icon>home</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item routerLink='/list-user'>
      <mat-icon>list</mat-icon>
      <span>List Users</span>
    </button>
    <button mat-menu-item routerLink='/add-user'>
      <mat-icon>playlist_add</mat-icon>
      <span>Add User</span>
    </button>
    <button mat-menu-item routerLink='/register'>
      <mat-icon>spellcheck</mat-icon>
      <span>Register</span>
    </button>
    <button mat-menu-item routerLink='/login'>
      <mat-icon>settings_power</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item (click)='toggleTheme()'>Toggle Theme</button>
  </mat-menu>
</mat-toolbar>
